<{include file='db:mldocs_staff_header.html'}>

<div id="performance">
<table width="100%" border="1" cellpadding="0" cellspacing="2" class="formButton">
<tr>
    <th colspan="2">
        <{$smarty.const._MLDOCS_TEXT_MY_PERFORMANCE}>
    </th>
</tr>
<tr>
    <td class="head" width="20%">
        <{$smarty.const._MLDOCS_TEXT_RESPONSE_TIME}>
    </td>
    <td class="even">
        <{$mldocs_responseTime}>
    </td>
</tr>
<tr>
    <td class="head">
        <{$smarty.const._MLDOCS_TEXT_RATING}>
    </td>
    <td class="even">
    <{if $mldocs_rating eq 1}>
        <{$mldocs_rating1}>
    <{elseif $mldocs_rating eq 2}>
        <{$mldocs_rating2}>
    <{elseif $mldocs_rating eq 3}>
        <{$mldocs_rating3}>
    <{elseif $mldocs_rating eq 4}>
        <{$mldocs_rating4}>
    <{elseif $mldocs_rating eq 5}>
        <{$mldocs_rating5}>
    <{else}>
        <{$mldocs_rating0}>
    <{/if}>
    </td>
</tr>
<tr>
    <td class="head">
        <{$smarty.const._MLDOCS_TEXT_NUMREVIEWS}>
    </td>
    <td class="even">
        <{$mldocs_numReviews}>
    </td>
</tr>
<tr>
    <td class="head">
        <{$smarty.const._MLDOCS_TEXT_NUM_ARCHIVES_CLOSED}>
    </td>
    <td class="even">
        <{$mldocs_callsClosed}>
    </td>
</tr>
</table>
</div>

<br />
<div id="archiveLists">
<form method="post" action="<{$mldocs_baseURL}>/profile.php?op=addArchiveList">
<table width="100%" border="1">
<tr>
    <th colspan="2"><{$smarty.const._MLDOCS_TEXT_ARCHIVE_LISTS}></th>
</tr>
<{if $mldocs_hasArchiveLists}>
<tr class="head">
    <td><{$smarty.const._MLDOCS_TEXT_LIST_NAME}></td>
    <td align="right"><{$smarty.const._MLDOCS_TEXT_ACTIONS2}></td>
</tr>
<{foreach from=$mldocs_archiveLists item=archiveList}>
<tr class="even">
    <td><{$archiveList.name}></td>
    <td align="right">
        <{if $archiveList.hasWeightUp}>
            <a href="<{$mldocs_baseURL}>/profile.php?op=changeListWeight&amp;id=<{$archiveList.id}>&amp;up=0"><img src="<{$mldocs_imagePath}>/asc.png" alt="" title="" /></a>
        <{else}>
            <img src="<{$mldocs_imagePath}>/arrow_blank.png" alt="" title="" />
        <{/if}>
        <{if $archiveList.hasWeightDown}>
            <a href="<{$mldocs_baseURL}>/profile.php?op=changeListWeight&amp;id=<{$archiveList.id}>&amp;up=1"><img src="<{$mldocs_imagePath}>/desc.png" alt="" title="" /></a>
        <{else}>
            <img src="<{$mldocs_imagePath}>/arrow_blank.png" alt="" title="" />
        <{/if}>
        <{if $archiveList.hasEdit}>
            <a href="<{$mldocs_baseURL}>/search.php?op=edit&amp;id=<{$archiveList.searchid}>"><img src="<{$mldocs_imagePath}>/button_edit.png" alt="<{$smarty.const._MLDOCS_TEXT_EDIT}>" title="<{$smarty.const._MLDOCS_TEXT_EDIT}>" /></a>
        <{else}>
            <img src="<{$mldocs_imagePath}>/button_blank.png" alt="" title="" />
        <{/if}>
        <a href="<{$mldocs_baseURL}>/profile.php?op=deleteArchiveList&amp;id=<{$archiveList.id}>"><img src="<{$mldocs_imagePath}>/button_delete.png" alt="<{$smarty.const._MLDOCS_TEXT_DELETE}>" title="<{$smarty.const._MLDOCS_TEXT_DELETE}>" /></a>
    </td>
</tr>
<{/foreach}>
<{else}>
<tr class="even">
    <td colspan="2"><{$smarty.const._MLDOCS_TEXT_NO_RECORDS}></td>
</tr>
<{/if}>
<tr class="foot">
    <td colspan="2">
        <{if $mldocs_hasUnusedSearches}>
        <input type="submit" name="addArchiveList" id="addArchiveList" value="<{$smarty.const._MLDOCS_TEXT_CREATE_NEW_LIST}>" />
        <select name="savedSearch">
            <{foreach from=$mldocs_unusedSearches item=savedSearch}>
                    <option value="<{$savedSearch.id}>"><{$savedSearch.name}></option>
            <{/foreach}>
        </select>
        <{/if}>
        <a href="<{$mldocs_baseURL}>/search.php?return=profile"><{$smarty.const._MLDOCS_TEXT_CREATE_SAVED_SEARCH}></a>
    </td>
</tr>
</table>
</form>
</div>

<br />
<div id="replies">
<table width="100%" border="1">
<tr><td>
    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="formButton">
    <tr>
        <th colspan="2">
            <{$smarty.const._MLDOCS_TEXT_PREDEFINED_RESPONSES}>
        </th>
    </tr>
    <tr>
        <td class="head" width="20%">
            <{$smarty.const._MLDOCS_TEXT_RESPONSES}>
        </td>
        <td class="even">
            <form method="post" action="profile.php?op=responseTpl">
            <select name="replies" onchange="window.location='profile.php?responseTplID='+this.options[this.selectedIndex].value;">
                <option value="0"><{$smarty.const._MLDOCS_TEXT_PREDEFINED0}></option>
            <{if $mldocs_hasResponseTpl}>
                <{foreach from=$mldocs_responseTpl item=response}>
                    <option value="<{$response.id}>" <{if $mldocs_responseTplID eq $response.id}>selected="selected"<{/if}>><{$response.name}></option>
                <{/foreach}>
            <{/if}>
            </select>
            <{if $mldocs_displayTpl_id neq 0}>
                <input type="hidden" name="tplID" value="<{$mldocs_displayTpl_id}>" />
                <input type="submit" name="delete_responseTpl" value="<{$smarty.const._MLDOCS_BUTTON_DELETE}>" />
            <{/if}>
            </form>
        </td>
    </tr>
    </table>
</td></tr>
<tr><td>
    <form method="post" action="profile.php?op=responseTpl">
    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="formButton">
    <tr>
        <td class="head" width="20%">
            <{$smarty.const._MLDOCS_TEXT_TEMPLATE_NAME}>
        </td>
        <td class="even">
            <input type="hidden" name="responseid" value="<{$mldocs_displayTpl_id}>" />
            <input type="text" name="name" value="<{$mldocs_displayTpl_name}>" class="formButton" />
        </td>
    </tr>
    <tr>
        <td class="head">
            <{$smarty.const._MLDOCS_TEXT_MESSAGE}>
        </td>
        <td class="even">
            <textarea name="replyText" rows="10" cols="50" class="formButton"><{$mldocs_displayTpl_response}></textarea>
        </td>
    </tr>
    <tr>
        <td class="head">
            <{$smarty.const._MLDOCS_TEXT_ADD_SIGNATURE}>
        </td>
        <td class="even">
            <input name="attachSig" value="1" type="radio" class="formButton" <{if $mldocs_has_sig neq 0}>checked="checked"<{/if}> /><{$smarty.const._MLDOCS_TEXT_YES}>
            <input name="attachSig" value="0" type="radio" class="formButton" <{if $mldocs_has_sig eq 0}>checked="checked"<{/if}> /><{$smarty.const._MLDOCS_TEXT_NO}>
        </td>
    </tr>
    <tr>
        <td class="head">
            <{$smarty.const._MLDOCS_TEXT_ACTIONS}>
        </td>
        <td class="even">
            <input type="submit" name="updateResponse" value="<{$smarty.const._MLDOCS_BUTTON_UPDATE}>" class="formButton" />
            <input type="reset" value="<{$smarty.const._MLDOCS_BUTTON_RESET}>" class="formButton" />
        </td>
    </tr>
    </table>
    </form>
</td></tr>
</table>
</div>

<br />
<div id="staffNotify">
<form name="notification_select" method="post" action="profile.php">
<table width="100%" border="1" cellpadding="0" cellspacing="2" class="formButton">
<tr>
    <th colspan="2">
        <{$smarty.const._MLDOCS_TEXT_MY_NOTIFICATIONS}>
    </th>
</tr>
<tr>
    <td class="head" width="20%">
        <{$smarty.const._MLDOCS_TEXT_NOT_EMAIL}>
    </td>
    <td class="even">
        <input type="text" name="email" value="<{$mldocs_staff_email}>" size="50" maxlength="255" class="formButton" />
    </td>
</tr>
<tr>
    <td class="head" width="20%">
        <{$smarty.const._MLDOCS_TEXT_CURRENT_NOTIFICATION}>
    </td>
    <td class="even">
        <{$mldocs_notify_method}>
    </td>
</tr>
<tr class="head">
    <td colspan="2">
        &nbsp;<input name="allbox" id="allbox" onclick="xoopsCheckAll('notification_select','allbox');" type="checkbox" value="<{$smarty.const._MLDOCS_TEXT_SELECT_ALL}>" />
        <{$smarty.const._MLDOCS_TEXT_EVENT}>
    </td>
</tr>
<{foreach from=$mldocs_deptNotifications item=dept}>
<tr class="<{cycle values="odd,even"}>">
    <td colspan="2">
        <input type="checkbox" name="notifications[]" value="<{$dept.bitValue}>" 
        <{if $dept.isChecked eq true}>checked="checked"<{/if}> 
        <{if $dept.staff_setting eq 0}>disabled="disabled"<{/if}> class="formButton" />
        <{$dept.caption}>
        <{if $dept.staff_setting eq 0}>
            &nbsp;<{$smarty.const._MLDOCS_TEXT_ADMIN_DISABLED}>
        <{/if}>
    </td>
</tr>
<{/foreach}>
<tr class="foot">
    <td colspan="2">
        <input type="submit" value="<{$smarty.const._MLDOCS_BUTTON_UPDATE}>" name="updateNotification" />
    </td>
</tr>
</table>
</form>
</div>

<{if $mldocs_hasReviews}>
<br />
<div id="staffReview">
<table width="100%" border="1" cellpadding="0" cellspacing="2" class="formButton">
<tr>
    <th colspan="2"><{$smarty.const._MLDOCS_TEXT_LAST_REVIEWS}></th>
</tr>
<{foreach from=$mldocs_reviews item=review}>
<tr>
    <td class="head" width="20%"><a href="<{$xoops_url}>/userinfo.php?uid=<{$review.submittedByUID}>"><{$review.submittedBy}></a><br />
    <{$smarty.const._MLDOCS_TEXT_RATING}> <{$review.rating}>/5<br />
    <{$review.ratingdsc}>
    </td>
    <td class="<{cycle values="odd, even"}>"><{$review.comments}></td>
</tr>
<{/foreach}>
</table>
</div>
<{/if}>