<{include file='db:mldocs_staff_header.html'}>

<div class="formButton" style="border:1px solid black;" id="mldocs_batchaddresponse">
<table width="100%" cellpadding="0" cellspacing="2">
<tr>
    <th colspan="2">
        <img src="<{$mldocs_imagePath}>response.png" alt="<{$smarty.const._MLDOCS_TITLE_ADDRESPONSE}>" /> <{$smarty.const._MLDOCS_TITLE_ADDRESPONSE}>
    </th>
</tr>
<tr>
    <td class="head" width="20%">
        <{$smarty.const._MLDOCS_TEXT_PREDEFINED_RESPONSES}>
    </td>
    <td class="odd">
        <form name="formRefresh" method="get" action="<{$mldocs_formaction}>">
        <select name="tpl" onchange="window.location='<{$mldocs_formaction}>?op=addresponse&amp;tpl='+this.options[this.selectedIndex].value;">
            <{html_options options=$mldocs_responseTpl_options selected=$mldocs_responseTpl}>
        </select>
        </form>
    </td>
</tr>
</table>

<form method="post" action="<{$mldocs_formaction}>">
<table width="100%" cellpadding="0" cellspacing="2">
<tr>
    <td class="head" width="20%">
        <{$smarty.const._MLDOCS_TEXT_RESPONSE}>
    </td>
    <td class="even">
        <textarea name="response" rows="10" cols="50" class="formButton"><{$mldocs_response_message}></textarea>
    </td>
</tr>
<tr>
    <td class="head">
        <{$smarty.const._MLDOCS_TEXT_TIMESPENT}>
    </td>
    <td class="odd">
        <input type="text" name="timespent" value="<{$mldocs_timespent}>" class="formButton" /><{$smarty.const._MLDOCS_TEXT_MINUTES}>
    </td>
</tr>
<tr>
    <td class="head">
        <{$smarty.const._MLDOCS_TEXT_PRIVATE_RESPONSE}>
    </td>
    <td class="even">
        <input type="checkbox" name="private" value="1" class="formButton" <{if $mldocs_private eq true}>checked="checked"<{/if}> />
    </td>
</tr>
<tr>
    <td colspan="2" class="foot">
    
        <input type="submit" name="addresponse" value="<{$smarty.const._MLDOCS_BUTTON_ADDRESPONSE}>" class="formButton" />
        <input type="reset" value="<{$smarty.const._MLDOCS_BUTTON_RESET}>" class="formButton" />
        <input type="hidden" name="op" value="addresponse" />
        <input type="hidden" name="archives" value="<{$mldocs_archives}>" />
    </td>
</tr>
</table>
</form>
</div>