<{include file='db:mldocs_staff_header.html'}>

<form name="archives" method="post" action="<{$mldocs_baseURL}>/index.php">
<{if $mldocs_viewAllArchives}>    <{* view all archives? *}>
    <table id="allArchives" width="100%" border="1" cellpadding="0" cellspacing="2" class="outer">
    <tr>
        <th colspan="8">
            <img src="<{$mldocs_imagePath}>archive.png" alt="<{$smarty.const._MLDOCS_TEXT_ALL_ARCHIVES}>" /><{$smarty.const._MLDOCS_TEXT_ALL_ARCHIVES}>
        </th>
    </tr>
    <{if $mldocs_has_archives eq true}>
        <tr>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_ID}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_PRIORITY}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_CODEARCHIVE}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_STATUS}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_DEPARTMENT}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_LOGGED_BY}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_LOG_TIME}>
            </td>
            <td class="head">
                <{$smarty.const._MLDOCS_TEXT_OWNER}>
            </td>
        </tr>
        <{foreach from=$mldocs_allArchives item=archive}>
            <tr class="<{cycle values="odd, even"}> pri<{$archive.priority}><{if $archive.overdue}> overdue<{/if}>">
            <td nowrap="nowrap">
                <input type="checkbox" name="archives[]" value="<{$archive.id}>" /> <a href="archive.php?id=<{$archive.id}>"><{$archive.id}></a>
            </td>
            <td class="priority">
                <img src="images/priority<{$archive.priority}>.png" alt="<{$smarty.const._MLDOCS_TEXT_PRIORITY}> <{$archive.priority}>" />
            </td>
            <td class="codearchive">
                <a href="archive.php?id=<{$archive.id}>"><{$archive.codearchive}></a>
            </td>
            <td class="status">
                <{$archive.status}>
            </td>
            <td class="department">
                <a href="<{$archive.departmenturl}>"><{$archive.department}></a>
            </td>
            <td class="user">
                <a href="<{$archive.userinfo}>"><{$archive.uname}></a>
            </td>
            <td class="posted" nowrap="nowrap">
                <{$archive.posted}>
            </td>
            <td class="owner" nowrap="nowrap">
                <{if $archive.ownerinfo neq ''}>
                    <a href="<{$archive.ownerinfo}>"><{$archive.ownership}></a>
                <{else}>
                    <{$archive.ownership}>
                <{/if}>
            </td>
        </tr>
        <{/foreach}>
    <{else}>
        <tr class="odd">
            <td colspan="6">
                <{$smarty.const._MLDOCS_NO_ARCHIVES_ERROR}>
            </td>
        </tr>
    <{/if}>
    </table>
    <div id="mldocs_nav"><{$mldocs_pagenav}></div>
<{else}>
    <{if $mldocs_hasArchiveLists}>
        <{foreach from=$mldocs_archiveLists item=archiveList}>
            <table id="<{$archiveList.tableid}>" width="100%" border="1" cellpadding="0" cellspacing="2" class="outer searchlist">
            <tr>
                <th colspan="8" class="listtitle">
                    <a href="<{$mldocs_baseURL}>/search.php?savedSearch=<{$archiveList.searchid}>" style="float:right"><{$smarty.const._MLDOCS_TEXT_VIEW_MORE_ARCHIVES}></a>
                    <{$archiveList.searchname}>
                </th>
            </tr>
            <{if $archiveList.hasArchives}>
                <tr>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_ID}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_PRIORITY}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_CODEARCHIVE}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_STATUS}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_DEPARTMENT}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_LOGGED_BY}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_LOG_TIME}>
                    </td>
                    <td class="head">
                        <{$smarty.const._MLDOCS_TEXT_OWNER}>
                    </td>
                </tr>
                <{foreach from=$archiveList.archives item=archive}>
                    <tr class="<{cycle values="odd, even"}> pri<{$archive.priority}><{if $archive.overdue}> overdue<{/if}>">
                        <td nowrap="nowrap">
                            <input type="checkbox" name="archives[]" value="<{$archive.id}>" /> <a href="archive.php?id=<{$archive.id}>"><{$archive.id}></a>
                        </td>
                        <td class="priority">
                            <img src="images/priority<{$archive.priority}>.png" alt="<{$smarty.const._MLDOCS_TEXT_PRIORITY}> <{$archive.priority}>" />
                        </td>
                        <td class="subject">
                            <a href="archive.php?id=<{$archive.id}>"><{$archive.codearchive}></a>
                        </td>
                        <td class="status">
                            <{$archive.status}>
                        </td>
                        <td class="department">
                            <a href="<{$archive.departmenturl}>"><{$archive.department}></a>
                        </td>
                        <td class="user">
                            <a href="<{$archive.userinfo}>"><{$archive.uname}></a>
                        </td>
                        <td class="posted" nowrap="nowrap">
                            <{$archive.posted}>
                        </td>
                        <td class="owner" nowrap="nowrap">
                            <{if $archive.ownerinfo neq ''}>
                                <a href="<{$archive.ownerinfo}>"><{$archive.ownership}></a>
                            <{else}>
                                <{$archive.ownership}>
                            <{/if}>
                        </td>
                    </tr>
                <{/foreach}>
            <{else}>
                <tr class="odd">
                    <td colspan="6">
                        <{$smarty.const._MLDOCS_NO_ARCHIVES_ERROR}>
                    </td>
                </tr>
            <{/if}>
            </table>
            <br />
        <{/foreach}>
    <{/if}>
<{/if}>

<div id="mldocsBatchActions">
<table width="100%" border="1" cellpadding="0" cellspacing="2" class="outer">
<tr>
    <th colspan="2"><{$smarty.const._MLDOCS_TEXT_BATCH_ACTIONS}></th>
</tr>
<tr>
    <td class="head" width="20%">
        <{$smarty.const._MLDOCS_TEXT_SELECTED}>
    </td>
    <td class="even">
        <select name="op">
        <option value="setdept"><{$smarty.const._MLDOCS_TEXT_BATCH_DEPARTMENT}></option>
        <option value="setpriority"><{$smarty.const._MLDOCS_TEXT_BATCH_PRIORITY}></option>
        <option value="setstatus"><{$smarty.const._MLDOCS_TEXT_BATCH_STATUS}></option>
        <option value="delete"><{$smarty.const._MLDOCS_TEXT_BATCH_DELETE}></option>
        <option value="addresponse"><{$smarty.const._MLDOCS_TEXT_BATCH_RESPONSE}></option>
        <option value="setowner"><{$smarty.const._MLDOCS_TEXT_BATCH_OWNERSHIP}></option>
        </select>
        <input type="submit" value="<{$smarty.const._GO}>" />
    </td>
</tr>
</table>
</div>
</form>

<br />
<{if $mldocs_viewAllArchives eq false}>
<div id="staffSideBar">
<table class="formButton">

    <tr>
        <td>
            <form name="formRefresh" method="get" action="<{$mldocs_current_file}>">
            <select name="refresh" onchange="window.location='<{$mldocs_baseURL}>/index.php?refresh='+this.options[this.selectedIndex].value;">
            <option value="<{$smarty.const._MLDOCS_AUTO_REFRESH0}>"><{$smarty.const._MLDOCS_TEXT_AUTO_REFRESH0}></option>
            <option value="<{$smarty.const._MLDOCS_AUTO_REFRESH1}>" <{if $mldocs_refresh eq $smarty.const._MLDOCS_AUTO_REFRESH1}>selected="selected"<{/if}>><{$smarty.const._MLDOCS_TEXT_AUTO_REFRESH1}></option>
            <option value="<{$smarty.const._MLDOCS_AUTO_REFRESH2}>" <{if $mldocs_refresh eq $smarty.const._MLDOCS_AUTO_REFRESH2}>selected="selected"<{/if}>><{$smarty.const._MLDOCS_TEXT_AUTO_REFRESH2}></option>
            <option value="<{$smarty.const._MLDOCS_AUTO_REFRESH3}>" <{if $mldocs_refresh eq $smarty.const._MLDOCS_AUTO_REFRESH3}>selected="selected"<{/if}>><{$smarty.const._MLDOCS_TEXT_AUTO_REFRESH3}></option>
            <option value="<{$smarty.const._MLDOCS_AUTO_REFRESH4}>" <{if $mldocs_refresh eq $smarty.const._MLDOCS_AUTO_REFRESH4}>selected="selected"<{/if}>><{$smarty.const._MLDOCS_TEXT_AUTO_REFRESH4}></option>
            </select>
            <input type="submit" value="<{$smarty.const._MLDOCS_BUTTON_SUBMIT}>" />
            </form>
        </td>
    </tr>
</table>
</div>
<{/if}>

<{if $mldocs_viewAllArchives eq false}>
    <{if $mldocs_useAnnouncements eq true}>
    <br />
    <div id="announcements">
    <table width="100%" border="1" cellpadding="0" cellspacing="2" class="outer">
    <tr>
        <th>
            <{$smarty.const._MLDOCS_TEXT_ANNOUNCEMENTS}>
        </th>
    </tr>
    <tr>
        <td>
            <{* start news item loop *}>
            <{section name=i loop=$mldocs_announcements}>
              <{include file="db:mldocs_announcement.html" story=$mldocs_announcements[i]}>
              <br />
            <{/section}>
            <{* end news item loop *}>
        </td>
    </tr>
    </table>
    </div>
    <{/if}>
<{/if}>
