<div id="user_menu">
<table border="0" width="100%">
<tr>
    <td>
        <a href="index.php"><img src="<{$mldocs_imagePath}>main.png" alt="<{$smarty.const._MLDOCS_MENU_MAIN}>" /></a><a href="index.php"><{$smarty.const._MLDOCS_MENU_MAIN}></a>
    </td>
    <td>
        <a href="addArchive.php"><img src="<{$mldocs_imagePath}>addArchive.png" alt="<{$smarty.const._MLDOCS_MENU_LOG_ARCHIVE}>" /></a><a href="addArchive.php"><{$smarty.const._MLDOCS_MENU_LOG_ARCHIVE}></a>
    </td>
    <td>
        <a href="index.php?viewAllArchives=1"><img src="<{$mldocs_imagePath}>archive.png" alt="<{$smarty.const._MLDOCS_MENU_ALL_ARCHIVES}>" /></a><a href="index.php?op=userViewAll"><{$smarty.const._MLDOCS_MENU_ALL_ARCHIVES}></a>
    </td>
</tr>
</table>
</div>